In [39]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn import tree
from sklearn import preprocessing

In [2]:
df=pd.read_csv("general_data.csv")
df.head(2)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4

In [3]:
df['NumCompaniesWorked'] = df['NumCompaniesWorked'].fillna(df['NumCompaniesWorked'].mean())
df.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          9
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [4]:
df=df.dropna()

In [5]:
df.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [6]:
le=preprocessing.LabelEncoder()
df["Attrition"]= le.fit_transform(df["Attrition"])
df["BusinessTravel"]=le.fit_transform(df["BusinessTravel"])
df["Department"]=le.fit_transform(df["Department"])
df["EducationField"]=le.fit_transform(df["EducationField"])
df["Gender"]=le.fit_transform(df["Gender"])
df["MaritalStatus"]=le.fit_transform(df["MaritalStatus"])
df["JobRole"]=le.fit_transform(df["JobRole"])
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4404,29,0,2,2,4,3,4,1,4405,0,...,1.0,Y,18,8,0,6.0,2,6,1,5
4405,42,0,2,1,5,4,3,1,4406,0,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,4407,1,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,1,1,4408,1,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,4409,1,...,0.0,Y,14,8,1,10.0,2,9,7,8

**dropping irrelevant columns**

In [7]:
df = df.drop(['EmployeeCount','EmployeeID', 'Over18','StandardHours'], axis=1)
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,0,1,0,1,131160,1.0,11,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,0,1,6,2,41890,0.0,23,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,4,7,1,193280,1.0,15,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,3,1,1,83210,3.0,11,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,1,7,2,23420,4.0,12,2,9.0,2,6,0,4

**splitting Dataset**

In [8]:
y=df.iloc[:,1:2]
y.head(4)

   Attrition
0          0
1          1
2          0
3          0

In [9]:
x=df.drop(columns=["Attrition"])
x.head(2)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,2,2,6,2,1,0,1,0,1,131160,1.0,11,0,1.0,6,1,0,0
1,31,1,1,10,1,1,0,1,6,2,41890,0.0,23,1,6.0,3,5,1,4

**TRAINING THE MODEL USING DECISION TREE**

In [10]:
tree_model=tree.DecisionTreeClassifier()
tree_model.fit(x,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [14]:
tree_model.score(x,y)

1.0

with respect to score the model seems overfitting as the accuracy is 100%

**HERE ATTRITION IS DEPENDENT VARIABLE TO FIND IMPORTANT INDEPENEDENT VARIABLE WE WILL PERFORM RANDOM FOREST**

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
rf_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [18]:
rf_model.fit(x,y)

C:\Users\hp\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
rf_model.oob_score_

1.0

**FINDING IMPORTANT VARIABLES:**

In [25]:
a = ['Age', 'BusinessTravel', 'Department', 'DistanceFromHome','Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked','PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion','YearsWithCurrManager']
for feature,imp in zip(a,rf_model.feature_importances_):
    print(feature,"\t\t :",imp)

Age 		 : 0.0966557839778677
BusinessTravel 		 : 0.02780825672750069
Department 		 : 0.02581589580937535
DistanceFromHome 		 : 0.07010672942469874
Education 		 : 0.04080960148277402
EducationField 		 : 0.04125330692760844
Gender 		 : 0.018370476030678425
JobLevel 		 : 0.03733773590685114
JobRole 		 : 0.055498062399259765
MaritalStatus 		 : 0.04000789609930984
MonthlyIncome 		 : 0.09408985908359374
NumCompaniesWorked 		 : 0.056005145539298105
PercentSalaryHike 		 : 0.06585271354456984
StockOptionLevel 		 : 0.03417899695256563
TotalWorkingYears 		 : 0.08509722492418936
TrainingTimesLastYear 		 : 0.04468905406014326
YearsAtCompany 		 : 0.06832710177428489
YearsSinceLastPromotion 		 : 0.04368133751133952
YearsWithCurrManager 		 : 0.05441482182409166

**CONCLUSION:**<br>
from above we can see that <br>
Age,DistanceFromHome,MonthlyIncome,TotalworkingYears,YearsAtCompany,PercentSalaryHike has higher impact on Attrition

**TAKING INDEPENDENT VARIABLES WHICH ARE  IMPORTANT**

In [27]:
imp=df[['Age','DistanceFromHome','MonthlyIncome','TotalWorkingYears','YearsAtCompany','PercentSalaryHike']]
imp.head(3)

,Age,DistanceFromHome,MonthlyIncome,TotalWorkingYears,YearsAtCompany,PercentSalaryHike
0,51,6,131160,1.0,1,11
1,31,10,41890,6.0,5,23
2,32,17,193280,5.0,5,15

**DESICION TREE:**

In [31]:
model = tree.DecisionTreeClassifier(max_depth=12)
model.fit(imp,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=12, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

**SCORE:**

In [33]:
model.score(imp,y)

0.9450124971597365

**score is optimum now!!**

In [45]:
impf=["Age","DistanceFromHome","MonthlyIncome","TotalWorkingYears","YearsAtCompany","PercentSalaryHike"]
from sklearn.tree import export_text
r=export_text(model,feature_names=impf)
print(r)

|--- TotalWorkingYears <= 1.50
|   |--- Age <= 33.50
|   |   |--- MonthlyIncome <= 112610.00
|   |   |   |--- MonthlyIncome <= 23140.00
|   |   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |   |--- DistanceFromHome <= 6.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- DistanceFromHome >  6.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |   |--- class: 0
|   |   |   |--- MonthlyIncome >  23140.00
|   |   |   |   |--- Age <= 23.50
|   |   |   |   |   |--- Age <= 18.50
|   |   |   |   |   |   |--- DistanceFromHome <= 4.00
|   |   |   |   |   |   |   |--- PercentSalaryHike <= 20.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- PercentSalaryHike >  20.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- DistanceFromHome >  4.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- Age >  18.50
|   |   |   |   |   |   |--- MonthlyIncome <= 106255.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- MonthlyIncome >  106255.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- Age >  23.50
|   |   |   |   |   |--- MonthlyIncome <= 32530.00
|   |   |   |   |   |   |--- YearsAtCompany <= 0.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- YearsAtCompany >  0.50
|   |   |   |   |   |   |   |--- PercentSalaryHike <= 23.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- PercentSalaryHike >  23.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- MonthlyIncome >  32530.00
|   |   |   |   |   |   |--- DistanceFromHome <= 11.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 63965.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- MonthlyIncome >  63965.00
|   |   |   |   |   |   |   |   |--- DistanceFromHome <= 1.50
|   |   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 12.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- PercentSalaryHike >  12.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- DistanceFromHome >  1.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- DistanceFromHome >  11.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 64960.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- MonthlyIncome >  64960.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |--- MonthlyIncome >  112610.00
|   |   |   |--- DistanceFromHome <= 5.00
|   |   |   |   |--- class: 0
|   |   |   |--- DistanceFromHome >  5.00
|   |   |   |   |--- MonthlyIncome <= 161855.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- MonthlyIncome >  161855.00
|   |   |   |   |   |--- class: 0
|   |--- Age >  33.50
|   |   |--- MonthlyIncome <= 25425.00
|   |   |   |--- DistanceFromHome <= 2.50
|   |   |   |   |--- class: 1
|   |   |   |--- DistanceFromHome >  2.50
|   |   |   |   |--- class: 0
|   |   |--- MonthlyIncome >  25425.00
|   |   |   |--- class: 0
|--- TotalWorkingYears >  1.50
|   |--- Age <= 33.50
|   |   |--- YearsAtCompany <= 3.50
|   |   |   |--- YearsAtCompany <= 1.50
|   |   |   |   |--- MonthlyIncome <= 70465.00
|   |   |   |   |   |--- DistanceFromHome <= 5.00
|   |   |   |   |   |   |--- MonthlyIncome <= 35480.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- MonthlyIncome >  35480.00
|   |   |   |   |   |   |   |--- MonthlyIncome <= 51235.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- MonthlyIncome >  51235.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- DistanceFromHome >  5.00
|   |   |   |   |   |   |--- TotalWorkingYears <= 10.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 52200.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- MonthlyIncome >  52200.00
|   |   |   |   |   |   |   |   |--- MonthlyIncome <= 61260.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- MonthlyIncome >  61260.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- TotalWorkingYears >  10.50
|   |   |   |   |   |   |   |--- Age <= 30.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  30.50
|   |   |   |   |   |   |   |   |--- MonthlyIncome <= 59450.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- MonthlyIncome >  59450.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- MonthlyIncome >  70465.00
|   |   |   |   |   |--- class: 1
|   |   |   |--- YearsAtCompany >  1.50
|   |   |   |   |--- DistanceFromHome <= 7.50
|   |   |   |   |   |--- MonthlyIncome <= 73705.00
|   |   |   |   |   |   |--- MonthlyIncome <= 59150.00
|   |   |   |   |   |   |   |--- PercentSalaryHike <= 13.50
|   |   |   |   |   |   |   |   |--- YearsAtCompany <= 2.50
|   |   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 5.50
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- TotalWorkingYears >  5.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- YearsAtCompany >  2.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- PercentSalaryHike >  13.50
|   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 4.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- TotalWorkingYears >  4.50
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 2.50
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 18.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike >  18.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  2.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- MonthlyIncome >  59150.00
|   |   |   |   |   |   |   |--- DistanceFromHome <= 2.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- DistanceFromHome >  2.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- MonthlyIncome >  73705.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- DistanceFromHome >  7.50
|   |   |   |   |   |--- MonthlyIncome <= 115880.00
|   |   |   |   |   |   |--- TotalWorkingYears <= 6.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 34745.00
|   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 3.50
|   |   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 19.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- PercentSalaryHike >  19.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- TotalWorkingYears >  3.50
|   |   |   |   |   |   |   |   |   |--- YearsAtCompany <= 2.50
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 24.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  24.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- YearsAtCompany >  2.50
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 20.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  20.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- MonthlyIncome >  34745.00
|   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 13.50
|   |   |   |   |   |   |   |   |   |--- Age <= 20.50
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Age >  20.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- PercentSalaryHike >  13.50
|   |   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 4.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 24.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- Age >  24.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- TotalWorkingYears >  4.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- TotalWorkingYears >  6.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- MonthlyIncome >  115880.00
|   |   |   |   |   |   |--- PercentSalaryHike <= 19.50
|   |   |   |   |   |   |   |--- TotalWorkingYears <= 5.50
|   |   |   |   |   |   |   |   |--- DistanceFromHome <= 9.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- DistanceFromHome >  9.50
|   |   |   |   |   |   |   |   |   |--- Age <= 22.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- Age >  22.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- TotalWorkingYears >  5.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- PercentSalaryHike >  19.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |--- YearsAtCompany >  3.50
|   |   |   |--- DistanceFromHome <= 26.50
|   |   |   |   |--- TotalWorkingYears <= 5.50
|   |   |   |   |   |--- MonthlyIncome <= 22455.00
|   |   |   |   |   |   |--- YearsAtCompany <= 4.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- YearsAtCompany >  4.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- MonthlyIncome >  22455.00
|   |   |   |   |   |   |--- Age <= 23.50
|   |   |   |   |   |   |   |--- YearsAtCompany <= 4.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- YearsAtCompany >  4.50
|   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 11.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- PercentSalaryHike >  11.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  23.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- TotalWorkingYears >  5.50
|   |   |   |   |   |--- YearsAtCompany <= 4.50
|   |   |   |   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |   |   |   |--- MonthlyIncome <= 93300.00
|   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 21.00
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 27040.00
|   |   |   |   |   |   |   |   |   |   |--- Age <= 25.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- Age >  25.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  27040.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- PercentSalaryHike >  21.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- MonthlyIncome >  93300.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- YearsAtCompany >  4.50
|   |   |   |   |   |   |--- Age <= 26.50
|   |   |   |   |   |   |   |--- DistanceFromHome <= 20.50
|   |   |   |   |   |   |   |   |--- MonthlyIncome <= 36630.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- MonthlyIncome >  36630.00
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 83085.00
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 3.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  3.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  83085.00
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 12.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- PercentSalaryHike >  12.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- DistanceFromHome >  20.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- Age >  26.50
|   |   |   |   |   |   |   |--- DistanceFromHome <= 6.50
|   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 6.50
|   |   |   |   |   |   |   |   |   |--- Age <= 32.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- Age >  32.50
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 47005.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  47005.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- TotalWorkingYears >  6.50
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 4.50
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 3.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  3.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  4.50
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 88525.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  88525.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- DistanceFromHome >  6.50
|   |   |   |   |   |   |   |   |--- DistanceFromHome <= 9.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- DistanceFromHome >  9.50
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 15.50
|   |   |   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 14.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- TotalWorkingYears >  14.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  15.50
|   |   |   |   |   |   |   |   |   |   |--- Age <= 28.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- Age >  28.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- DistanceFromHome >  26.50
|   |   |   |   |--- YearsAtCompany <= 7.50
|   |   |   |   |   |--- MonthlyIncome <= 46375.00
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- MonthlyIncome >  46375.00
|   |   |   |   |   |   |--- DistanceFromHome <= 27.50
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- DistanceFromHome >  27.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- YearsAtCompany >  7.50
|   |   |   |   |   |--- class: 0
|   |--- Age >  33.50
|   |   |--- TotalWorkingYears <= 39.00
|   |   |   |--- MonthlyIncome <= 10300.00
|   |   |   |   |--- class: 1
|   |   |   |--- MonthlyIncome >  10300.00
|   |   |   |   |--- YearsAtCompany <= 1.50
|   |   |   |   |   |--- MonthlyIncome <= 34145.00
|   |   |   |   |   |   |--- TotalWorkingYears <= 3.50
|   |   |   |   |   |   |   |--- Age <= 46.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- Age >  46.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- TotalWorkingYears >  3.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- MonthlyIncome >  34145.00
|   |   |   |   |   |   |--- MonthlyIncome <= 36770.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- MonthlyIncome >  36770.00
|   |   |   |   |   |   |   |--- DistanceFromHome <= 2.50
|   |   |   |   |   |   |   |   |--- Age <= 39.50
|   |   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 10.50
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 1.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  1.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |--- TotalWorkingYears >  10.50
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- Age >  39.50
|   |   |   |   |   |   |   |   |   |--- PercentSalaryHike <= 16.50
|   |   |   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 23.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- TotalWorkingYears >  23.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- PercentSalaryHike >  16.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- DistanceFromHome >  2.50
|   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 3.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- TotalWorkingYears >  3.00
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 16.00
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome <= 14.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  14.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- DistanceFromHome >  16.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- YearsAtCompany >  1.50
|   |   |   |   |   |--- DistanceFromHome <= 3.50
|   |   |   |   |   |   |--- PercentSalaryHike <= 18.50
|   |   |   |   |   |   |   |--- YearsAtCompany <= 16.50
|   |   |   |   |   |   |   |   |--- Age <= 36.50
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 73570.00
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 67210.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  67210.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  73570.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- Age >  36.50
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 47700.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  47700.00
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 47770.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  47770.00
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |--- YearsAtCompany >  16.50
|   |   |   |   |   |   |   |   |--- Age <= 39.50
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome <= 37985.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- MonthlyIncome >  37985.00
|   |   |   |   |   |   |   |   |   |   |--- TotalWorkingYears <= 17.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- TotalWorkingYears >  17.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1